<nav class="navbar navbar-expand-md navbar-light bg-light">
    <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
    <ul class="navbar-nav">
        <div class="row">
            <div class="col-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Product:dashboard' %}">Shipping Address</a>
                </li>
            </div>
            <div class="col-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Product:dashboard' %}">Account Settings</a>
                </li>
            </div>
            <div class="col-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Product:dashboard' %}">Orders</a>
                </li>
            </div>
        </div>

    </ul>
</nav>