
.not-logged{
	max-width: 90vw;
	background-color: #e3e3e3;
	height: 80vh;
	margin-left: 5%;
	border: #bdbdbd 3px solid;
	border-radius: 25px;
}
h1, h2, h3, h4{
	text-align:center;
}
.introduction{
	margin-left: 3vw;

}

hr{
	border-top: 5px solid black;
	width: 90%;

}

.cart{
    margin-top:5%;
}

.product-image{
	max-width:50%;
	max-height:auto;

}


.detail-card{
	margin-top: 5%;
	border: skyblue 3px solid;
	max-height:100%;
	max-width:auto;

}