.not-logged{
	max-width: 90vw;
	background-color: #e3e3e3;
	height: 80vh;
	margin-left: 5%;
	border: #bdbdbd 3px solid;
	border-radius: 25px;
}
h1, h2, h3, h4{
	text-align:center;
}
.introduction{
	margin-left: 3vw;

}

hr{
	border-top: 5px solid black;
	width: 90%;

}

.pagination-container{
	text-align:center;
}

.pagination-module{
	display:inline-block;
	margin:0 auto;
}
.product{
	border: cyan 3px solid;
	max-height:80%;
}

.product-image{
	max-width:100%;
	height:auto;

}

.product-image:hover{
	opacity:70%;
}
.addCart{
	width:90%;

}
