{% extends 'global/page.html' %}
{% load static %}
{% load pagination_filters %}
{% load mathfilters %}
{% block pagestyle %}{% static 'styles/product_dash.css' %}{% endblock %}
{% block title %} Job Tracker v0.2 {% endblock %}

{% block body %}
<div class="content">
    {% include 'global/pagination.html' %}

    <div class="row">
        <div class="col-sm-2 leftcol">
            {% include 'global/filter.html' %}
        </div>
        <div class="col-sm-10">
            <!-- This is the right column with col-sm-10 -->
            <div class="row">
                {% for product in products_per_row %}
                <div class="col-sm-2 d-flex flex-column">
                    <!-- Adjust col-sm-2 to your desired column width -->
                    <div class="product">
                        <a href="{% url 'Product:product_detail' product.product_id %}">
                            {% if product.picurl %}
                            <img src="{{ product.picurl }}" class="product-image" alt="" srcset="">
                            {% else %}
                            <img src="{% static 'assets/filler/unavailable.jpg' %}" class="product-image" alt="" srcset="">
                            {% endif %}
                        </a>
                        <br>
                        <small>{{ product.publisher_name }}<br><small>{{ product.series_name }}</small></small>
                        <br>
                        <a href="{% url 'Product:product_detail' product.product_id %}">{{ product.full_title }}</a>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                ${{product.price}}
                            </div>
                            <div class="col-6"></div>
                            <div class="col-4">
                                <small>{{ product.in_collection }} Left</small>
                            </div>
                        </div>
                        <form action="post" method="post">
                            {% csrf_token %}
                            <div class="flex-grow-1"></div>
                            <button type="button" name="add_to_cart" class="btn btn-primary addCart">Add to Cart</button>
                        </form>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:6 or forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'global/pagination.html' %}
</div>

{% endblock %}